<button (click)="openExpenseModalForm()" class="btn btn-outline-primary">
    Add Expense
</button>
<div>
  <app-expense-table [expenseListId]="expenseListId!" (onUpdateExpense)="updateExpense($event)" (onDeleteList)="deleteExpense($event)" [expenses]="expenseList?.expenses || []" [totalExpense]="expenseList?.totalExpense || 0" [user]="user"></app-expense-table>

  <app-pagination-grid [totalPages]="totalPages" (pageChange)="onPageChange($event)">
  </app-pagination-grid></div>

<div *ngIf="showExpenseFormModal" class="custom-modal-backdrop">
  <div class="modal-body">
    <app-expense-form [list]="expenseList!" (onCreatedExpense)="onExpenseCreated()" (close)="onCloseExpenseFormModal()">
    </app-expense-form>
</div>  
</div>
