.custom-modal {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.form-control{
    max-width: 400px;
}


.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-body {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}